.button {
  flex-shrink: 0;
  transition: transform var(--transition-fast);
}

.button:hover:not(:disabled) {
  transform: scale(1.1);
}

.button:active:not(:disabled) {
  transform: scale(0.95);
}

.icon {
  transition: transform var(--transition-fast);
}

.collapsed .icon {
  transform: rotate(-90deg);
}
